<?xml version="1.0" encoding="UTF-8"?>
<AddressBook>
{% for contact in contacts %}
	<Contact>
		<FirstName>{{ contact['first name'] }}</FirstName>
		<LastName>{{ contact['last name'] }}</LastName>
		<Phone>
			<phonenumber>{{ contact['number'] }}</phonenumber>
		</Phone>
		<Groups></Groups>
	</Contact>
{% endfor %}
</AddressBook>